/******************************************************************************
 * Panel
 ******************************************************************************/
.panel {
    zoom: 1;
}

/******************************************************************************
 * Buttons
 ******************************************************************************/
.buttons {
    padding-top: 6px;
}

span.button {
    position: relative;
    top: 3px;
    
    padding-top: 0px;
    padding-bottom: 0px;
}

.button button, .button input {
    padding-top: 5px;
    padding-bottom: 3px;
}

/******************************************************************************
 * Forms
 ******************************************************************************/
input.text, input.password {
    margin-right: -12px;
    vertical-align: middle;
}

input.integer, input.day, input.month, input.year {
    margin-right: 0px;
    vertical-align: middle;
}

textarea {
    margin-right: -4px;
}

form .append {
    margin-left: 12px;
}

.input-text input, .input-password input {
    padding-top: 2px;
    padding-bottom: 2px;
}

.wide dd.can_be_wide {
    margin-left: 110px;
    zoom: 1;
}

/******************************************************************************
 * Windows
 ******************************************************************************/
#blocker {
    background: #FFFFFF;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=60);
}