
/* ---------- images -------------------------------------------------------- */
.images {
    overflow: hidden;
    zoom: 1;
}

.images .image {
    float: left;
    /*clear: both;*/

    margin: 0px 10px 5px 0px;
    border: 1px solid #AACCEE;
    background: #ECF4FB;
}

.images .image .ctl {
    padding: 3px 5px 3px 5px;
    
    text-align: center;
    white-space: nowrap;
    /*background: #F4FAFF;*/
    background: #DEEDF8;
}

.images .img {
    padding: 2px;
}

.images .img a {
    display: block;
    text-align: center;
}
.images .img img {
    display: block;
    margin: 0px auto;
}